{
  "Proxy": "127.0.0.1:1196",
  "ProxySNI": "127.0.0.1:7654",
  "ProxyGo": "127.0.0.1:8000",
  "PixivDownloadDir": "D:/Pixiv/",
  "PixivUserName": "123",
  "PixivUserId": "123",
  "PixivConnectStr": "server=127.0.0.1;port=3306;UID=root;pwd=123;database=pass;",
  "HitomiConnectStr": "server=127.0.0.1;port=3306;UID=root;pwd=123;database=hitomi;",
  "HitomiDownloadDir": "C:/Hitomi/",
  "ShowInitButton": false,
  "LSFConnectStr": "server=127.0.0.1;port=3306;UID=root;pwd=123;database=localsinglefile;",
  "LSFFavDir": "C:\\telegra",
  "LSFTmpDirs": [
    "D:\\telegra_tmp"
  ],
  "TelegramPhoneNumber": "",
  "TelegramDownloadDir": "C:\\123",
  "TelegramConnectStr": "",
  "MyDownloadServerAddress": "http://127.0.0.1:4000"

}