{
  "Proxy": "127.0.0.1:1196",
  "ProxySNI": "127.0.0.1:1200",
  "ProxyGo": "127.0.0.1:8000",
  "PixivDownloadDir": "D:/PictureSpider/Pixiv/",
  "PixivUserName": "",
  "PixivUserId": "0",
  "PixivConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=pass;",
  "HitomiConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=hitomi;",
  "HitomiDownloadDir": "D:/PictureSpider/Hitomi/",
  "ShowInitButton": false,
  "LSFConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=localsinglefile;",
  "LSFFavDir": "D:\\PictureSpider\\LocalSingleFile\\fav",
  "LSFTmpDirs": [
    "D:\\PictureSpider\\LocalSingleFile\\tmp",
    "D:\\PictureSpider\\Hentaiera\\tmp"
  ],
  "TelegramPhoneNumber": "",
  "TelegramApiID": 0,
  "TelegramApiHash": "",
  "TelegramDownloadDir": "D:\\PictureSpider\\Telegram",
  "TwitterConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=twitter;",
  "TwitterUserAgent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/126.0.0.0 Safari/537.36",
  "TwitterDownloadDir": "G:\\Twitter",
  "TelegramConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=telegram;",
  "KemonoDownloadDir": "D:/PictureSpider/Kemono/",
  "KemonoConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=kemono;",
  "MyDownloadServerAddress": "http://127.0.0.1:4000",
  "TypicalConnectStr": "server=127.0.0.1;port=3306;UID=<db-user>;pwd=<db-password>;database=",
  "TypicalDownloadDir": "D:\\PictureSpider"
}
